.nav-menu {
  text-align: right;
}
.nav-spacing {
  margin: 0 0 0 10px;
}
.nav-decoration {
  text-decoration: none;
  color:inherit;
}
.image-link {
  text-decoration: none;
}
.header-text {
  text-align: center;
}
.image-center {
  display: block;
  margin: 0 auto;
}
.image-left {
    float: left;
    margin: 0 40px 0 0;
}
.div-main {
    width: 560px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fafafa;
}
.text-strong {
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
}
.blockquote-style {
    font-style: italic;
    font-size: 20px;
    padding: 2px 20px;
    background: #eee;
}
